<div data-scroll class="border-top  w-100 {{ .Title | urlize}} {{ range $key, $value := .Params.categories }}{{ (replace $value "/" "-") | urlize }} {{ end }} ">


  <div class="row">

    <div class="col-lg-4 py-4 py-lg-5">

     {{with .Params.post_img }}
      {{ partial "img-srcset.html" (dict "img" . "size" 500  ) }}
    {{ end }}

    </div>

    <div  class="col-lg-8">

    

      <div class="px-4 py-4 py-lg-5 d-flex flex-column h-100">
        <div class="d-flex  mb-2 small">
          <div>
            {{ range $key, $value := .Params.categories }}
              <span class="mb-3 mr-3">{{ $value }}</span> 
            {{ end }}
          </div>
         
            {{ if .Date }}
            <div class="ml-auto nowrap">{{ .Date.Format "01.02.2006" }}</div>
            {{ end }}
     
        </div>
        <a  href="{{ .Permalink | safeURL }}"> <h2 class="h3 mb-4 pr-5 mr-5">{{ .Title }}</h2></a>
          
            <div class="mt-auto d-flex align-items-end">
              <div class="mr-auto">
                <a class="link-border" href="{{ .Permalink | safeURL }}">{{ i18n "readMorePost" }}</a> 
              </div>
            
                  <div class="author small d-flex align-items-center">

                      {{- range .Params.authors }}
                      {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}

                      <a href="{{ .Permalink }}">{{ .Params.name }}</a>
                      
                      <div class="rounded-circle  overflow-hidden ml-2">
                        {{ partial "img-srcset.html" (dict "img" .Params.photo "size" 40  ) }}
                      </div>
                        
                        
                      {{ end }}
                    {{ end }}
                  </div>
            </div>



          </div>
      </div>   
    </div>



</div>