.modal-dialog {
  
  
  @include media-breakpoint-up(md) {
    max-width: 720px;
  }

  @include media-breakpoint-up(lg) {
        max-width: 960px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 1140px;
  }
}

.modal {
  overscroll-behavior: contain;
}
 

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    outline: 0;
    background-color: transparent;
    
    .signup-modal & {
     background-color: #fff;
    }
}


.modal-backdrop {
  //background-color: var(--primary);
  background-color: #fff;

 .signup-modal & {
  background-color: var(--primary);

  &.show {
    opacity: 1;
    background-image: url("../images/AC_Muster_1_RGB_Weiss--10-v2.png");
    background-attachment: fixed;
    background-size: 1915px;
  }
 }
}

.modal-content .row.bg-primary {
  box-shadow: 0 0 30px var(--shadowColor);
}

.bg-primary-opaque {
  background-color: var(--primary-opaque) !important;
}