<div class="slides">
  <div class="carousel">
    {{ .Inner }}
  </div>
  <div class="img-caption"><div class="c-caption"></div><div class="carousel-status"></div></div>
  <button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Previous">
    <svg class="icon icon-white icon-sm" width="64px" height="64px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="AC_Icon_Pfeil_Rechts_RGB_Schwarz-Copy" transform="translate(32.500000, 32.000000) rotate(180.000000) translate(-32.500000, -32.000000) translate(11.000000, 18.000000)" fill="#000" fill-rule="nonzero">
              <polygon id="Path" points="28.97 0.17 26.15 3 35.15 12 4.97 12 4.97 8 0.97 8 0.97 16 35.14 16 26.15 25 28.97 27.83 42.8 13.99"></polygon>
          </g>
      </g>
  </svg>  </button>
  <button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Next">
    <svg class="icon icon-white icon-sm" width="64px" height="64px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
       <g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="AC_Icon_Pfeil_Rechts_RGB_Schwarz" transform="translate(11.000000, 18.000000)" fill="#000" fill-rule="nonzero">
              <polygon id="Path" points="28.97 0.17 26.15 3 35.15 12 4.97 12 4.97 8 0.97 8 0.97 16 35.14 16 26.15 25 28.97 27.83 42.8 13.99"></polygon>
          </g>
      </g>
  </svg>
  </button>  
</div>